# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Variables
*.tfvars
*.tfvars.json

# Plan files
*.tfplan

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration
.terraformrc
terraform.rc

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

#password
password.sh